<div class="container">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 40px;">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="color: #fff;">
      <a href="home.php">
        <img alt="" src="img/logo_site.png" style="width:260px;"/>
      </a>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <ul id="menuul">
        <li>
          <a href="home.php" style="font-family: 'Roboto Condensed';font-size: x-large ">Home</a>
        </li>
        <li>
          <a href="./delineation.php" style="font-family: 'Roboto Condensed';font-size: x-large ">Delineation</a>
        </li>
        <li>
          <a href="./desti.php" style="font-family: 'Roboto Condensed';font-size: x-large ">Destination</a>
        </li>
        <li>
          <a href="contact.php" style="font-family: 'Roboto Condensed';font-size: x-large ">Feedback</a>
        </li>
      </ul>
    </div>
  </div>
</div>
